{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<style>
  .contact-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contact-info {
    width: 40%;
    margin-left:5%;
  
  }

  .contact-info h3{
    font-family: Montserrat-ExtraBold;
    color:white;
  }

  .contact-form {
    width: 80%;
   
  }

  .contact-form .field__input, .contact-form textarea {
    font-size: 20px;
    padding: 15px;
  }

  .contact-form .button {
    font-size: 20px;
    padding: 15px 30px;
    background:none;
    border: 2px solid;
    box-shadow:none;
    font-family: Unbounded;

  }

  @media (max-width: 750px) {
    .contact-section {
      flex-direction: column;
    }

    .contact-info, .contact-form {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .contact-form h3{
    color:white;
  }
</style>

<div class="page-width">
  <div class="contact-section scroll-trigger animate--slide-in">
    <div class="contact-info">
      <h3>{{ section.settings.address_title }}</h3>
      <p>{{ section.settings.address }}</p>
      <h3>{{ section.settings.schedule_title }}</h3>
      <p>{{ section.settings.schedule }}</p>
      <h3>{{ section.settings.email_title }}</h3>
      <p>{{ section.settings.email }}</p>
    </div>

    <div class="contact-form scroll-trigger animate--slide-in">
      <h3>{{ section.settings.form_title }}</h3>
      {%- form 'contact', id: 'ContactForm' -%}
        <div class="field">
          <input
            class="field__input"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name"> Ім`я </label>
        </div>
        <div class="field">
          <input
            class="field__input"
            type="email"
            id="ContactForm-email"
            name="contact[email]"
            placeholder="Електронна пошта"
          >
          <label class="field__label" for="ContactForm-email">Електронна пошта</label>
        </div>
        <div class="field comment" style = " height:20rem;">
          <textarea
            style = " height:20rem ";
            class="field__input"
            rows="10"
            id="ContactForm-body"
            name="contact[body]"
            placeholder="Коментар"
          ></textarea>
          <label class="field__label" for="ContactForm-body">Коментар</label>
        </div>
        <button type="submit" class="button" style ="margin-top:2rem;">НАДІСЛАТИ</button>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Form Section",
  "settings": [
    {
      "type": "text",
      "id": "address_title",
      "label": "Address Title",
      "default": "АДРЕСА"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "default": "Луцьк, пр. Волі 6, 3-й поверх"
    },
    {
      "type": "text",
      "id": "schedule_title",
      "label": "Schedule Title",
      "default": "ГРАФІК РОБОТИ"
    },
    {
      "type": "text",
      "id": "schedule",
      "label": "Schedule",
      "default": "Щодня, 11:00 - 20:00"
    },
    {
      "type": "text",
      "id": "email_title",
      "label": "Email Title",
      "default": "ПОШТА"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "usual@usualclth.com"
    },
    {
      "type": "text",
      "id": "form_title",
      "label": "Form Title",
      "default": "НАПИШІТЬ НАМ"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Contact"
    }
  ]
}
{% endschema %}

